@{
    ViewData["Title"] = "Add Patient Dossier";
}

@model PatientDossierViewModel

<form method="post" action="PatientDossier">
    <div class="row">
        <div class="col">
            <label for="validationCustom01">First name</label>
            <input type="text" class="form-control" value="@Model.Patient.FirstName" readonly>
        </div>
        <div class="col">
            <label for="validationCustom02">Last name</label>
            <input type="text" class="form-control" value="@Model.Patient.LastName" readonly>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="validationCustomUsername">Email Address</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupPrepend"></span>
                </div>
                <input type="email" class="form-control" value="@Model.Patient.Emailaddress" aria-describedby="inputGroupPrepend" readonly>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="validationCustom04">Klachten</label>
            <input classtype="text" asp-for="@Model.Patiëntdossier.Klachten" class="form-control" id="validationCustom04" placeholder="Klachten" required>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <label for="validationCustom04">Hoofdbehandelaar</label>
            <select class="form-control" asp-for="@Model.Patiëntdossier.Hoofdbehandelaar" value="">

                @foreach (var physiotherapist in @Model.Physiotherapists)
                {
                    <option>@physiotherapist.ToString()</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <label for="validationCustom04">Intake gedaan door</label>
            <select class="form-control" asp-for="@Model.Patiëntdossier.IntakeGedaanDoor" value="">

                @foreach (var physiotherapist in @Model.Physiotherapists)
                {
                    <option>@physiotherapist.ToString()</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <label for="validationCustom04">Intake onder supervisie van</label>
            <select class="form-control" asp-for="@Model.Patiëntdossier.IntakeOnderSupervisieVan" value="">

                @foreach (var physiotherapist in @Model.Physiotherapists)
                {
                    <option>@physiotherapist.ToString()</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="validationCustom03">Datum Aanmelding</label>
                <input type="date" class="form-control" asp-for="@Model.Patiëntdossier.DatumAanmelding" placeholder="Datum Aanmelding *" value="" />
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="validationCustom03">Datum Ontslag</label>
                <input type="date" class="form-control" asp-for="@Model.Patiëntdossier.DatumOntslag" placeholder="Datum Ontslag *" value="" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="validationCustom03">Opmerkingen</label>
                <input type="text" class="form-control" asp-for="@Model.Patiëntdossier.Opmerkingen" placeholder="Opmerkingen *" value="" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="validationCustom03">Behandelplan</label>
                <input type="text" class="form-control" asp-for="@Model.Patiëntdossier.Behandelplan" placeholder="Behandelplan *" value="" />
            </div>
        </div>
    </div>
    <br />
    <button class="btn btn-primary" type="submit" value="Submit" method="post" action="/PatientDossier">Submit form</button>
</form>

